
/* hidden elements */ 

.hidden{
    display:none;
}

.hidden-tablet {
    display: none;
}

.hidden-desktop {
    display: none;
}

/* General Styles */ 


h2 {
    font-family: 'Sintony', sans-serif;
    font-size: 20px; 
    color: #707070;
    font-weight: bold;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #F7931E;
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }

 p {
    font-size: 12px;
    font-family: 'Sintony', sans-serif;
 }


/* Main Nav */



#nav-con button {
    background: url(../img/hamburger_icon.svg) no-repeat center;
    margin-top: 10px;
    transition: all .5s ease;
    border: 0;
    width: 50px;
    height: 50px;
 }

 #burger-con.slide-toggle {
    display: block;
    align-self: center;
 }

 #burger-con {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    order: -1;
 }
 
 
 #nav-con ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #nav-con ul li a {
    display: block;
    padding: 20px;
    color: #F7931E;
    text-align: center;
    transition: all .4s ease;
 }
 
 #nav-con ul li a:hover {
    color:#f7921e7a; 
    text-decoration: none;
 }


#mobile-nav-icons {
    display: flex;
    justify-content: center;
}


#logo {
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


/* --- Hero Area --- */ 

#hero-con h2 {
    color: #65AC3E;
    border:1px solid #65AC3E;
    border-radius: 40px;
    text-align: center;
    margin-top: 94px;
    padding: 10px;
}

#hero-con p {
    text-align: center;
    margin-top: 55px;
    color: #65AC3E;
    line-height: 35px;
}

#hero-con h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 68px;
    color: #F7931E; 
}

/* --- Callidora Bio --- */ 

#calli-bio {
    background-color: #FFB45C;
}



.svg-character {
    width: 50%;
}

#calli-img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#calli-bio ul li img {
    width: 60%;
}

#calli-bio ul li  {
    display: inline-block;
}

#calli-bio ul {
    text-align: center;
}


/* --- media queries --- */ 

/* --- tablet --- */ 

@media screen and (min-width: 768px) {

/* gen styles */ 






/* main nav */ 

#header-icons {
    display: block;
}

#burger-con {
    display: block;
    margin-top: 30px;
}

#nav-con ul li a {
    display: inline;
    font-size: 10px;
 }

 #nav-con ul li a p {
    font-size: 10px;
    display: block;
    margin: 0 auto;
 }


#button {
    display: none;
}

#mobile-nav-icons {
margin-left: 20px;
}

#mobile-nav-icons img {
    width: 5%;
}

#burger-con ul li, #burger-con ul li:first-child {
    border: none;
    display: inline;
 }

#logo {
    order: -1;
    margin-top: 20px;
}



/* --- desktop --- */  

@media screen and (min-width: 1200px) {
.hidden-desktop {
    display: block;
}

.hidden-mobile {
    display: none;
}


#nav-con ul li a {
    font-size: 15px;
}

#mobile-nav-icons {
    margin-left: 100px;
    }
}

}